<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<!--  36:22-->
<head>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Sports & Magazine Khela</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome-all.css">
    <link rel="stylesheet" href="css/slick-slider.css">
    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/smartmenus.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body class="home">
    <div id="ritekhela-loader">
        <div id="ritekhela-loader-inner">
            <div id="ritekhela-shadow"></div>
            <div id="ritekhela-box"></div>
        </div>
    </div>

    <div class="ritekhela-wrapper">

        <!--// Header //-->
        <header id="ritekhela-header" class="ritekhela-header-one">
            
            <!--// TopStrip //-->
            <div class="ritekhela-topstrip">
                <div class="container">
                    <div class="row">
                        
                       
                        <aside class="col-md-12">
                            
                            
                            
						
							<ul class="ritekhela-user-strip">
								<th:block th:unless="${session.connect}">
									<li><a href="#" data-toggle="modal"
										data-target="#ritekhelamodalcenter"><i
											class="fa fa-user-alt"></i> Connexion</a></li>
									<li><a href="#" data-toggle="modal"
										data-target="#ritekhelamodalrg"><i
											class="fa fa-sign-in-alt"></i> Créer un compte</a></li>
									<!--                              <li><a th:href="@{/projectsdirectory}"><i ></i> Retour à l'accueil projets</a></li> -->

								</th:block>

								<th:block th:if="${session.connect}">
									<th:block th:if="${session.admin}">
										<li><a th:href="@{/users}"><i class="fa fa-user-alt"></i>
												Gestion des utilisateurs</a></li>
										<li><a th:href="@{/logout}"><i class="fa fa-user-alt"></i>
												Déconnexion</a></li>
<!-- 										<li><a th:href="@{/projectsdirectory}"><i></i> -->
<!-- 												Retour à l'accueil projets</a></li> -->


									</th:block>


									<th:block th:unless="${session.admin}">

										<li><a th:href="@{/user}"><i class="fa fa-user-alt"></i>
												MonCompte</a></li>
										<li><a th:href="@{/logout}"><i class="fa fa-user-alt"></i>
												Déconnexion</a></li>

									</th:block>






								</th:block>
							</ul>
							
							
							
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </aside>

                    </div>
                </div>
            </div>
            <!--// TopStrip //-->
            
            <!--// Main Header //-->
            <div class="ritekhela-main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="index-2.html" class="ritekhela-logo"><img class ="logo" src="images/sport.png"alt=""></a>
                            <div class="ritekhela-right-section">
                                <div class="ritekhela-navigation">
                                    <span class="ritekhela-menu-link">
                                        <span class="menu-bar"></span>
                                        <span class="menu-bar"></span>
                                        <span class="menu-bar"></span>
                                    </span>
                                    <nav id="main-nav">
                                        <ul id="main-menu" class="sm sm-blue">
                                            <li><a href="/">Home</a></li>
                                            <li class="active"><a href="#">BASKET</a></li>
                                            <li><a href="foot">FOOT</a></li>
                                            <li><a href="volley">VOLLEY</a></li>
                                            <li><a href="rugby">RUGBY</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <ul class="ritekhela-navsearch">
                                   
                                    <li><a href="#" data-toggle="modal" data-target="#ritekhelamodalsearch"><i class="fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Header //-->

        </header>
        <!--// Header //-->

        <!--// Content //-->
        <div class="ritekhela-main-content">

            <!--// Main Section //-->
            <div class="ritekhela-main-section ritekhela-fixture-slider-full">
                <div class="container">
                    <div class="row">

                        
                        <!--// Left Section //-->
                        <div>

                            <!--// Fancy Title Two //-->
                            
                            <!--// Fancy Title Two //-->

                            <!--// Latest Blog's //-->
                            
                            <div class="ritekhela-blogs ritekhela-blog-view2">
                                <ul class="row">
                                 
                                
                                    <li class="col-md-6">
                                        <figure><a href="#"><img src="extra-images/basket.jpg" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2><a href="#">ASVEL</a></h2>
                                            <time datetime="2008-02-14 20:00">Equipe à 10</time>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <figure><a href="#"><img src="extra-images/basket.png" alt=""></a></figure>
                                        <div class="ritekhela-blog-view2-text">
                                            <h2><a href="#">TOULOUSE</a></h2>
                                            <time datetime="2008-02-14 20:00">Toulouse basket club</time>
                                        </div>
                                    </li>
                                
                                </ul>
                            </div>
                            <!--// Latest Blog's //-->

                            <!--// Gallery //-->

                        </div>
                        <!--// Left Section //-->
                        
                    </div>
                </div>
            </div>
            <!--// Main Section //-->

        </div>
        <!--// Content //-->

        <!--// Footer //-->
        

            <!--// Footer Widget //-->
            
            <!--// Footer Widget //-->

            <!--// Footer CopyRight //-->
            <div class="ritekhela-copyright enbas">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            Dawan Project Fan club-2023
                        </div>
                    </div>
                </div>
            </div>
            <!--// Footer CopyRight //-->

        
        <!--// Footer //-->

    </div>


    <!--// Login ModalBox //-->
 <div class="loginmodalbox modal fade" id="ritekhelamodalcenter"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body ritekhela-bgcolor-two">
					<h5 class="modal-title">Connexion à ton compte</h5>
					<a href="#" class="close ritekhela-bgcolor-two"
						data-dismiss="modal" aria-label="Close"> <i
						class="fa fa-times"></i>
					</a>



					<form th:action="@{/connexion}" method="POST"
						class="loginmodalbox-search">
						<input type="text" value="email" name="email"
							onblur="if(this.value == '') { this.value ='email'; }"
							onfocus="if(this.value =='email') { this.value = ''; }">

						<input type="text" value="Entrez votre mot de passe"
							name="password"
							onblur="if(this.value == '') { this.value ='Entrez votre mot de passe'; }"
							onfocus="if(this.value =='Entrez votre mot de passe') { this.value = ''; }">
						<input type="submit" value="Connexion" class="ritekhela-bgcolor">


						<a href="#" class="loginmodalbox-forget">Mot de passe oublié?</a>
					</form>




					<div class="ritekhela-loginbox-social">
						<ul>
							<!--                         <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li> -->
							<li class="twitter"><a href="#"><i
									class="fab fa-twitter"></i> Twitter</a></li>
							<li class="linkedin"><a href="#"><i
									class="fab fa-linkedin-in"></i> Linkedin</a></li>
							<!--                         <li class="dribbble"><a href="#"><i class="fab fa-dribbble"></i> Dribbble</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!--// Login ModalBox //-->
    <div class="loginmodalbox modal fade" id="ritekhelamodalrg" tabindex="-1">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
             <div class="modal-body ritekhela-bgcolor-two">
                <h5 class="modal-title">Sign Up Now</h5>
                <a href="#" class="close ritekhela-bgcolor-two" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </a>
                <form class="loginmodalbox-search">
                    <input type="text" value="Enter User Name" onblur="if(this.value == '') { this.value ='Enter User Name'; }" onfocus="if(this.value =='Enter User Name') { this.value = ''; }">
                    <input type="text" value="Type Your Password" onblur="if(this.value == '') { this.value ='Type Your Password'; }" onfocus="if(this.value =='Type Your Password') { this.value = ''; }">
                    <input type="text" value="Confirm your password" onblur="if(this.value == '') { this.value ='Confirm your password'; }" onfocus="if(this.value =='Confirm your password') { this.value = ''; }">
                    <input type="submit" value="Sign Up" class="ritekhela-bgcolor">
                    <a href="#" class="loginmodalbox-forget">Forget Password?</a>
                </form>
             </div>
          </div>
       </div>
    </div>

    <!--// Search ModalBox //-->
    <div class="loginmodalbox modal fade" id="ritekhelamodalsearch" tabindex="-1">
       <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
             <div class="modal-body ritekhela-bgcolor-two">
                <h5 class="modal-title">Search Here</h5>
                <a href="#" class="close ritekhela-bgcolor-two" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </a>
                <form>
                    <input type="text" value="Search Here Now" onblur="if(this.value == '') { this.value ='Search Here Now'; }" onfocus="if(this.value =='Search Here Now') { this.value = ''; }">
                    <input type="submit" value="Search Now" class="ritekhela-bgcolor">
                </form>
             </div>
          </div>
       </div>
    </div>


    <!-- jQuery -->
    <script src="script/jquery.js"></script>
    <script src="script/popper.min.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/slick.slider.min.js"></script>
    <script src="script/fancybox.min.js"></script>
    <script src="script/isotope.min.js"></script>
    <script src="script/smartmenus.min.js"></script>
    <script src="script/progressbar.js"></script>
    <script src="script/jquery.countdown.min.js"></script>
    <script src="script/functions.js"></script>
</body>


<!--  39:15-->
</html>