<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<!--  36:22-->
<head>

<!-- meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Fanclub</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome-all.css}">
<link rel="stylesheet" th:href="@{/css/slick-slider.css}">
<link rel="stylesheet" th:href="@{/css/fancybox.css}">
<link rel="stylesheet" th:href="@{/css/smartmenus.css}">
<link rel="stylesheet" th:href="@{/style.css}">
<link rel="stylesheet" th:href="@{/css/color.css}">
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}" />

</head>

<body class="home">
	<div id="ritekhela-loader">
		<div id="ritekhela-loader-inner">
			<div id="ritekhela-shadow"></div>
			<div id="ritekhela-box"></div>
		</div>
	</div>

	<div class="ritekhela-wrapper">

		<!--// Header //-->
		<header id="ritekhela-header" class="ritekhela-header-one">

			<!--// TopStrip //-->
			<div class="ritekhela-topstrip">
				<div class="container">
					<div class="row">


						<aside class="col-md-12">
							<ul class="ritekhela-user-strip">
								<th:block th:unless="${session.connect}">
									<li><a href="#" data-toggle="modal"
										data-target="#ritekhelamodalcenter"><i
											class="fa fa-user-alt"></i> Connexion</a></li>
									<li><a href="#" data-toggle="modal"
										data-target="#ritekhelamodalrg"><i
											class="fa fa-sign-in-alt"></i> Créer un compte</a></li>
									<!--                              <li><a th:href="@{/projectsdirectory}"><i ></i> Retour à l'accueil projets</a></li> -->

								</th:block>

								<th:block th:if="${session.connect}">
									<th:block th:if="${session.admin}">
										<li><a th:href="@{/users}"><i class="fa fa-user-alt"></i>
												Gestion des utilisateurs</a></li>
										<li><a th:href="@{/logout}"><i class="fa fa-user-alt"></i>
												Déconnexion</a></li>
										<li><a th:href="@{/projectsdirectory}"><i></i>
												Retour à l'accueil projets</a></li>


									</th:block>


									<th:block th:unless="${session.admin}">

										<li><a th:href="@{/users}"><i class="fa fa-user-alt"></i>
												MonCompte</a></li>
										<li><a th:href="@{/logout}"><i class="fa fa-user-alt"></i>
												Déconnexion</a></li>

									</th:block>






								</th:block>
							</ul>
						</aside>

					</div>
				</div>
			</div>
			<!--// TopStrip //-->

			<!--// Main Header //-->
			<div class="ritekhela-main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<a href="index-2.html" class="ritekhela-logo"><img
								class="logo" src="images/sport.png" alt=""></a>
							<div class="ritekhela-right-section">
								<div class="ritekhela-navigation">
									<span class="ritekhela-menu-link"> <span
										class="menu-bar"></span> <span class="menu-bar"></span> <span
										class="menu-bar"></span>
									</span>
									<nav id="main-nav">
										<ul id="main-menu" class="sm sm-blue">
											<li class="active"><a href="index-2.html">Accueil</a></li>
											<li><a href="basket.html">BASKET</a></li>
											<li><a href="#">FOOT</a></li>
											<li><a href="#">VOLLEY</a></li>
											<li><a href="#">CYCLISME</a></li>
											<li><a href="#">RUGBY</a></li>
										</ul>
									</nav>
								</div>
								<ul class="ritekhela-navsearch">

									<li><a href="#" data-toggle="modal"
										data-target="#ritekhelamodalsearch"><i
											class="fa fa-search"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--// Main Header //-->

		</header>
		<!--// Header //-->

		<!--// Banner //-->
		<div class="ritekhela-banner-one">

			<div class="ritekhela-banner-one-layer">
				<span class="ritekhela-banner-transparent"></span> <img
					src="extra-images/banner-2.jpg" alt="">
				<div class="ritekhela-banner-caption">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>FanClub</h1>
								<div class="clearfix"></div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ritekhela-banner-one-layer">
				<span class="ritekhela-banner-transparent"></span> <img
					src="extra-images/banner-1.jpg" alt="">
				<div class="ritekhela-banner-caption">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1>
									Gestion <strong class="ritekhela-color">FCLUB</strong> FCLUB
								</h1>
								<div class="clearfix"></div>

								<div class="clearfix"></div>
								<a href="#" class="ritekhela-banner-btn">En savoir plus</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--// Banner //-->

		<!--// Content //-->
		<div class="ritekhela-main-content">

			<!--// Main Section //-->
			<div class="ritekhela-main-section ritekhela-fixture-slider-full">
				<div class="container">
					<div class="row">


						<!--// Left Section //-->
						<div class="col-md-8">

							<!--// Fancy Title Two //-->

							<!--// Fancy Title Two //-->

							<!--// Latest Blog's //-->

							<div class="ritekhela-blogs ritekhela-blog-view2">
								<ul class="row">
									<li class="col-md-6">
										<figure>
											<a href="#"><img src="extra-images/blog-view2-1.jpg"
												alt=""></a>
										</figure>
										<div class="ritekhela-blog-view2-text">
											<h2>
												<a href="#">Matchs à venir</a>
											</h2>
											<time datetime="2008-02-14 20:00">11 mars 2023 18:00</time>
										</div>
									</li>
									<li class="col-md-6">
										<figure>
											<a href="#"><img src="extra-images/blog-view2-2.jpg"
												alt=""></a>
										</figure>
										<div class="ritekhela-blog-view2-text">
											<h2>
												<a href="#">Dernier forum crée dans la rubrique Foot</a>
											</h2>
											<time datetime="2008-02-14 20:00">23 Février 15:12</time>
										</div>
									</li>
									<li class="col-md-6">
										<figure>
											<a href="#"><img src="extra-images/blog-view2-3.jpg"
												alt=""></a>
										</figure>
										<div class="ritekhela-blog-view2-text">
											<h2>
												<a href="#">Derniers commentaires dans le forum Foot</a>
											</h2>
											<time datetime="2008-02-14 20:00">23 Février 20:20</time>
										</div>
									</li>
									<li class="col-md-6">
										<figure>
											<a href="#"><img src="extra-images/blog-view2-4.jpg"
												alt=""></a>
										</figure>
										<div class="ritekhela-blog-view2-text">
											<h2>
												<a href="#">Dernier cadeau gagné par un abonné</a>
											</h2>
											<time datetime="2008-02-14 20:00">15 février 2019
												11:03</time>
										</div>
									</li>


								</ul>
							</div>
							<!--// Latest Blog's //-->

							<!--// Fancy Title Two //-->
							<div class="ritekhela-fancy-title-two">
								<h2>Concours</h2>
							</div>
							<!--// Fancy Title Two //-->

							<!--// Player //-->
							<div class="ritekhela-team ritekhela-team-view1">
								<ul class="row">
									<li class="col-md-6">
										<figure>
											<a href="#"><img src="extra-images/ticket.jpg" alt=""></a>
											<figcaption>
												<a href="#" class="fab fa-facebook-f"></a> <a href="#"
													class="fab fa-twitter"></a> <a href="#"
													class="fab fa-instagram"></a> <a href="#"
													class="fab fa-dribbble"></a>
											</figcaption>
										</figure>
										<div class="ritekhela-team-view1-text">
											<h2>
												<a href="#">Tirage au sort billets de matchs</a>
											</h2>
											<span>.</span>
											<p>Participes au jeu concours pour gagner un billet de
												match pour aller voir ton équipe preferé.</p>
											<a href="#" class="ritekhela-team-view1-btn">Je m'abonne
												pour participer! <i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>
									<li class="col-md-6">
										<figure>
											<a href="#"><img src="extra-images/maillot.jpg" alt=""></a>
											<figcaption>
												<a href="#" class="fab fa-facebook-f"></a> <a href="#"
													class="fab fa-twitter"></a> <a href="#"
													class="fab fa-instagram"></a> <a href="#"
													class="fab fa-dribbble"></a>
											</figcaption>
										</figure>
										<div class="ritekhela-team-view1-text">
											<h2>
												<a href="#">Lot de maillots à gagner</a>
											</h2>
											<span>.</span>
											<p>Lot de maillot de ton equipe preferé.</p>
											<a href="#" class="ritekhela-team-view1-btn">Je m'abonne
												pour participer! <i class="fa fa-angle-right"></i>
											</a>
										</div>
									</li>

									</li>
								</ul>
							</div>
							<!--// Player //-->


							<!--// Gallery //-->

						</div>
						<!--// Left Section //-->

						<!--// SideBaar //-->
						<aside class="col-md-4">



							<!--// Widget Add's //-->
							<div class="widget widget_add">
								<img src="extra-images/cleague.jpg" alt="">
							</div>
							<!--// Widget Add's //-->

						</aside>
						<!--// SideBaar //-->

					</div>
				</div>
			</div>
			<!--// Main Section //-->

		</div>
		<!--// Content //-->

		<!--// Footer //-->


		<!--// Footer Widget //-->

		<!--// Footer Widget //-->

		<!--// Footer CopyRight //-->
		<div class="ritekhela-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">Dawan Project Fan club-2023</div>
				</div>
			</div>
		</div>
		<!--// Footer CopyRight //-->


		<!--// Footer //-->

	</div>


	<!--// Login ModalBox //-->
	<div class="loginmodalbox modal fade" id="ritekhelamodalcenter"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body ritekhela-bgcolor-two">
					<h5 class="modal-title">Connexion à ton compte</h5>
					<a href="#" class="close ritekhela-bgcolor-two"
						data-dismiss="modal" aria-label="Close"> <i
						class="fa fa-times"></i>
					</a>










					<!--                  <form action="#" th:action="@{/register}" method="post" class="needs-validation" novalidate="" autocomplete="off"> -->
					<!--                 <div class="mb-3"> -->
					<!--                   <label class="mb-2 text-muted" for="email">E-Mail Address</label> -->
					<!--                   <input id="email" type="email" class="form-control" name="email" value="" required autofocus> -->
					<!--                   <div class="invalid-feedback"> -->
					<!--                     Email is invalid -->
					<!--                   </div> -->
					<!--                 </div> -->

					<!--                 <div class="mb-3"> -->
					<!--                   <div class="mb-2 w-100"> -->
					<!--                     <label class="text-muted" for="password">Password</label> -->
					<!--                     <a href="forgot.html" class="float-end"> -->
					<!--                       Forgot Password? -->
					<!--                     </a> -->
					<!--                   </div> -->
					<!--                   <input id="password" type="password" class="form-control" name="password" required> -->
					<!--                   <div class="invalid-feedback"> -->
					<!--                     Password is required -->
					<!--                   </div> -->
					<!--                 </div> -->

					<!--                 <div class="d-flex align-items-center"> -->
					<!--                   <div class="form-check"> -->
					<!--                     <input type="checkbox" name="remember" id="remember" class="form-check-input"> -->
					<!--                     <label for="remember" class="form-check-label">Remember Me</label> -->
					<!--                   </div> -->
					<!--                   <button type="submit" class="btn btn-primary ms-auto"> -->
					<!--                     Login -->
					<!--                   </button> -->
					<!--                 </div> -->
					<!--               </form> -->










					<form th:action="@{/connexion}" method="POST"
						class="loginmodalbox-search">
						<input type="text" value="email" name="email"
							onblur="if(this.value == '') { this.value ='email'; }"
							onfocus="if(this.value =='email') { this.value = ''; }">

						<input type="text" value="Entrez votre mot de passe"
							name="password"
							onblur="if(this.value == '') { this.value ='Entrez votre mot de passe'; }"
							onfocus="if(this.value =='Entrez votre mot de passe') { this.value = ''; }">
						<input type="submit" value="Connexion" class="ritekhela-bgcolor">


						<a href="#" class="loginmodalbox-forget">Mot de passe oublié?</a>
					</form>



					<!--                  <form th:action="@{/passwordReset}" method="POST" class="loginmodalbox-search"> -->
					<!--                     <input type="text" value="email" name="email" onblur="if(this.value == '') { this.value ='email'; }" onfocus="if(this.value =='email') { this.value = ''; }"> -->


					<!--                     <input type="text" value="Entrez votre nouveau mot de passe" name ="password" onblur="if(this.value == '') { this.value ='Entrez votre mot de passe'; }" onfocus="if(this.value =='Entrez votre mot de passe') { this.value = ''; }"> -->
					<!--                    <input type="text" value="Entrez à nouveau notre votre nouveau mot de passe" name ="password" onblur="if(this.value == '') { this.value ='Entrez votre mot de passe'; }" onfocus="if(this.value =='Entrez votre mot de passe') { this.value = ''; }"> -->


					<!--                    <input type="submit" value="Connexion" class="ritekhela-bgcolor"> -->


					<!--                 </form> -->








					<div class="ritekhela-loginbox-social">
						<ul>
							<!--                         <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li> -->
							<li class="twitter"><a href="#"><i
									class="fab fa-twitter"></i> Twitter</a></li>
							<li class="linkedin"><a href="#"><i
									class="fab fa-linkedin-in"></i> Linkedin</a></li>
							<!--                         <li class="dribbble"><a href="#"><i class="fab fa-dribbble"></i> Dribbble</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>





	<!--// Login ModalBox //-->
	<div class="loginmodalbox modal fade" id="ritekhelamodalrg"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body ritekhela-bgcolor-two">
					<h5 class="modal-title">Inscription</h5>
					<a href="#" class="close ritekhela-bgcolor-two"
						data-dismiss="modal" aria-label="Close"> <i
						class="fa fa-times"></i>
					</a>




					<!--                  <form th:action="@{/connexion}" method="POST" class="loginmodalbox-search"> -->
					<!--                     <input type="text" value="email" name="email" onblur="if(this.value == '') { this.value ='email'; }" onfocus="if(this.value =='email') { this.value = ''; }"> -->

					<!--                     <input type="text" value="Entrez votre mot de passe" name ="password" onblur="if(this.value == '') { this.value ='Entrez votre mot de passe'; }" onfocus="if(this.value =='Entrez votre mot de passe') { this.value = ''; }"> -->
					<!--                     <input type="submit" value="Connexion" class="ritekhela-bgcolor"> -->


					<!--                     <a href="#" class="loginmodalbox-forget">Mot de passe oublié?</a> -->
					<!--                 </form> -->



					<form th:action="@{/new}" method="POST" th:object="${userForm}"
						class="loginmodalbox-search" enctype="multipart/form-data">
						<input type="text" value="nom" th:field="*{firstName}"
							onblur="if(this.value == '') { this.value ='nom'; }"
							onfocus="if(this.value =='nom') { this.value = ''; }"> <input
							type="text" value="prenom" th:field="*{lastName}"
							onblur="if(this.value == '') { this.value ='prenom'; }"
							onfocus="if(this.value =='prenom') { this.value = ''; }">
						<input type="text" value="email" th:field="*{email}"
							onblur="if(this.value == '') { this.value ='email'; }"
							onfocus="if(this.value =='email') { this.value = ''; }">
						<input type="text" value="mot de passe" th:field="*{password}"
							onblur="if(this.value == '') { this.value ='mot de passe'; }"
							onfocus="if(this.value =='mot de passe') { this.value = ''; }">


						<input type="file" name="file" class="form-control" /> <br /> <input
							type="submit" value="S'inscrire" class="ritekhela-bgcolor">
					</form>




					<div class="ritekhela-loginbox-social">
						<ul>
							<!--                         <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li> -->
							<li class="twitter"><a href="#"><i
									class="fab fa-twitter"></i> Twitter</a></li>
							<li class="linkedin"><a href="#"><i
									class="fab fa-linkedin-in"></i> Linkedin</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>





	<!--// Search ModalBox //-->
	<div class="loginmodalbox modal fade" id="ritekhelamodalsearch"
		tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body ritekhela-bgcolor-two">
					<h5 class="modal-title">RECHERCHE</h5>
					<a href="#" class="close ritekhela-bgcolor-two"
						data-dismiss="modal" aria-label="Close"> <i
						class="fa fa-times"></i>
					</a>
					<form>
						<input type="text" value="Rechercher ici"
							onblur="if(this.value == '') { this.value ='Rechercher ici'; }"
							onfocus="if(this.value =='Search Here Now') { this.value = ''; }">
						<input type="submit" value="Rechercher" class="ritekhela-bgcolor">
					</form>
				</div>

			</div>
		</div>
	</div>


	<!-- jQuery -->

	<!--<script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script> -->

	<script src="script/jquery.js"></script>
	<script src="script/popper.min.js"></script>
	<script src="script/bootstrap.min.js"></script>
	<script src="script/slick.slider.min.js"></script>
	<script src="script/fancybox.min.js"></script>
	<script src="script/isotope.min.js"></script>
	<script src="script/smartmenus.min.js"></script>
	<script src="script/progressbar.js"></script>
	<script src="script/jquery.countdown.min.js"></script>
	<script src="script/functions.js"></script>
</body>


<!--  39:15-->
</html>